{% extends 'search/layout.html' %}

{% block title %}Metasearch{% endblock %}

{% block content %}
    <div class="logo">
        <h1>METASEARCH</h1>
    </div>
    <div class="search-box">
        <input type="search" class="search-txt" placeholder="Поиск">
        <a href="#" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="#" class="search-btn"><i class="fa-solid fa-microphone"></i></a>
    </div>
{#    <div class="d1">#}
{#        <form>#}
{#            <input type="text" placeholder="Искать здесь...">#}
{#            <button type="submit" value="Отправить"></button>#}
{#        </form>#}
{#    <button class="btn btn-warning">Поиск</button>#}
{#    </div>#}
{% endblock %}